/* ========== GLOBAL =============== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --light-blue: #47ABC2;
    --dark-blue: #1E7489;
    --white: white;
    --underline: #FDE10D;
    --dark-text: black;
}

body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,960,448)'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23EFFCFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='548' height='456.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* =========== NAV BAR AND LOGO  ============= */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    border-bottom: 1px solid black;
}


.logo img {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-top: 7px;
    border: 1px solid #787878;
    box-shadow: #787878 1px 1px 5px;
    transition: 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.logo {
    margin-left: 15%;
}

/* ======= THREE BUTTONS NAVIGATION ======= */
.navbar-links {
    height: 100%; 
    margin-right: 15%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    transition: 0.2s ease;
    position: relative;
    z-index: 1;
}

#current-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: var(--underline);
    height: 3px;
    width: 100%;
}


/* hover states */
.navbar-links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(0);
    transition: 0.2s ease;
}

.navbar-links li:hover::before {
    background-color: var(--dark-blue);
    transform: scale(1);
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

.navbar-links li a:hover {
    transform: scale(1.1);
}

/* hamburger menu */
.toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 13%;
    display: none;
    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
}

/* ======== HERO (VIDEO) ========== */
.hero-wrap {
    display: flex;
    align-items: center;
    height: 60vh;
    position: relative;
    margin-bottom: 6rem;
}

.hero-intro {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5%;
    color: var(--white);
    font-size: 1.5rem;
    width: 60%;
    animation: hero-slide 0.8s ease; 
}

.hero-intro span {    
        color: #D6EEFF;
}

.hero-intro img {
    width: 250px;
    border-radius: 50%;
    margin-right: 3rem;
    border: solid gray 1px;
}

@keyframes hero-slide {
    0%    { opacity: 0; transform: translateX(-100%);}
    20%   { opacity: 0.43;}
    80%   { opacity: 0.76;}
    100%  { opacity: 1; transform: translateX(0%)}
} 

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top 50%; */
}

/*=========== INTRO ============*/
.intro-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    padding: 3rem 0;
    border-radius: 60px 5px 60px 5px;
    width: 70%;
    margin: auto;
    
}

.intro {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    color: var(--white);
}

.intro a {color: white;}
.intro a:hover {color: #ededed;}

.intro h2 {
    font-weight: 500;
    font-size: 1.6rem;
}

/* ========= TECHNOLOGIES ========== */
.technologies h4 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0 20px;
    color: #444444;
    font-weight: 500;
    margin-top: 6rem;
}

.articles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0 6rem 0;
    gap: 1.5rem;
}

.all {
    width: 120px;
    height: 120px;
}

/* images */
.html {background: url(./images/html.png) no-repeat center / cover;}
.css {background: url(./images/css.png) no-repeat center / cover;}
.js {background: url(./images/js.png) no-repeat center / cover;}
.git {background: url(./images/git.png) no-repeat center / cover;}
.git-hub {background: url(./images/github.png) no-repeat center / cover;}
.sass {background: url(./images/sass.png) no-repeat center / cover;}
.bootstrap {background: url(./images/bootstrap.png) no-repeat center / cover;}
.wordpress {background: url(./images/wordpress.png) no-repeat center / cover;}
.photoshop {background: url(./images/photoshop.png) no-repeat center / cover;}
.figma {background: url(./images/figma.png) no-repeat center / cover;}

/* ========== FOOTER ================== */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form span {
    display: flex;
    gap: 10px;
}

form input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px gray solid;
    padding: 10px;
}

textarea {
    border-radius: 5px;
    border: 1px gray solid;
    padding: 10px;
}

form button {
    width: 6rem;
    height: 35px;
    letter-spacing: 1px;
    color: var(--dark-text);
    border-radius: 5px;
    border: 1px gray solid;
}

form button:hover {
    cursor: pointer;
    background-color: lightgray;
}

footer {
	background-color: var(--light-blue);
    padding: 5rem 0;
}

.row {
	display: flex;
    margin: 0 15%;
}

ul { 
    list-style: none; 
}

.footer-col {
   width: 33%;
   padding: 0 35px;
}

.footer-col h4{
	font-size: 18px;
	color: var(--white);
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -8px;
	background-color: var(--underline);
	height: 2px;
	width: 70px;
}

.footer-col ul li a{
    text-decoration: none;
	color: var(--white);
	font-weight: 300;
	transition: all 0.3s ease;
    line-height: 35px;
}

.footer-col ul li a:hover{
	padding-left: 10px;
    color: var(--underline);
}


/* ======= MEDIA QUERIES  1st phase =========== */
@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .intro-wrap {
        width: 95%;
    }

    .intro {
        width: 85%;
    }

    .row {
        flex-direction: column;
        gap: 30px;
    }
    
    .footer-col {
        width: 100%;
     }
    
     .footer-col h4::before {
         width: 120px;
     } 
}


/*  2nd phase */
@media (max-width: 650px) {
    .hero-intro {
        font-size: 1.2rem;
        text-align: center;
        flex-direction: column;
        width: 90%;
        gap: 1rem;
    }
    
    .hero-intro img {
        margin: auto;
        width: 230px;
    }

}

/*  3rd phase */
/* @media (max-width: 576px) {
    .hero-intro {
        text-align: center;
        flex-direction: column;
        width: 90%;
        font-size: 0.9rem;
        gap: 1rem;
    }

    .hero-intro img {
        margin: auto;
        width: 190px;
    }
} */





